body {
  font-family: Arial, sans-serif;
  background-color: #faf7f7;
  color: #080707;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #5c5d5e;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: blue;
}

header {
  background-color: #9d9d9e;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 3;
  margin: 0;
}

h2 {
  color: #acc2fa;
}

h3 {
  color: #9e8362;
}

section {
  padding: 20px;
}

.handwriting {
  font-family: "Brush Script MT", cursive;
  font-size: 1.8;
  color: #538256;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
}
